@model IEnumerable<WebProjectLena.Models.GenreModel>

@{
	ViewData["Title"] = "Catalogue";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="CatalogueIndex" content="width=device-width" />
		<title>Index</title>
	</head>
	<body>
		<div class="row d-flex justify-content-center">
			<div class="col-lg-9">
				<h2>Browse our Catalogue:</h2>
				<br>
				<h4>Looking for a specific Genre?</h4>
				<h5>Choose it here:
					<select onchange="onGenreChange()" id="genreList">
						<option value="-1">All</option>
						@foreach (var genre in Model) {
							if (@genre.GenreId == @ViewBag.SelectedGenreId)
							{
								<option value=@genre.GenreId selected="selected">@genre.GenreName</option>
							}
							else
							{
								<option value=@genre.GenreId>@genre.GenreName</option>
							}
						}
					</select>
				</h5>
				<br>
				<div id="catalogue_index_books">
					<table class="table">
						<tbody>		
							@foreach (var item in ViewBag.Books) {
								<tr>
									<td class="col-lg-1"><img src="~/images/@item.ImageName"/></td>
									<td class="col-lg-2">@item.Title</td>
									<td class="col-lg-2"><a asp-action="Details" asp-route-id="@item.BookId" id="tableBtn" class="btn btn-outline-primary">Details</a></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<script>
			function onGenreChange() {
				let e = document.getElementById("genreList");
				window.location.href = "/Catalogue?GenreId=" + e.value
			}
		</script>
	</body>
</html>